{% extends './layout.html'%}
{% block head %}
{% parent %}
<script src="/lib/socket.io.js" type="text/javascript"></script>
{% endblock  %}
{% block body %}
<span>test</span>
<script>
  var socket = io.connect('http://192.168.9.101');
  socket.emit('online');
  socket.on('someonoline', function () {	 
  alert("someonline");
  });
    socket.on('someoneoffline', function () {	 
  alert("someoneoffline");
  });
    socket.on('disconnect', function() {
		alert("offline");
  });
   socket.on('sd', function(urls) {
	   
  });
</script>
{% endblock  %}